Package: gosh
Architecture: any
Version: 0.0.5
Description: Do everything from the terminal
 gosh Codacy Badge
 (https://www.codacy.com/manual/seanhellum45/gosh?utm_source=github.com&utm_medium=referral&utm_content=gosh-terminal/gosh&utm_campaign=Badge_Grade)
 Setup Automated (https://gitpod.io/from-referrer/) Pull Requests Welcome
 (http://makeapullrequest.com)
 .
 Open in Gitpod (https://gitpod.io/#https://github.com/gosh-terminal/gosh)
 .
 The end goal of this project is to allow you to use your terminal for
 everything! Be able to do things from math, playing music, sending emails
 to searching the web but have these things be built into your terminal.
 Install dependencies bash sudo make install_deps
 .
 InstallBuild from sourceInstall with setup script bash git clone
 https://github.com/gosh-terminal/gosh.git cd gosh ./setup.sh
 .
 Install with Make bash git clone https://github.com/gosh-terminal/gosh.git
 cd gosh make install
 .
 One-line curl installer (Recommended) bash curl -s
 "https://raw.githubusercontent.com/gosh-terminal/gosh/master/tools/install"
 | sh
 .
 .
 Example of goshell
